<!-- <div class="m-3 px-2">
  
<span>Make:</span><p-dropdown [options]="Make" [(ngModel)]="selectedMake" optionLabel="value" placeholder="--Select--"></p-dropdown>
<span>Model:</span><p-dropdown [options]="Model" [(ngModel)]="selectedModel" optionLabel="value" placeholder="--Select--"></p-dropdown>
<span>Model Year:</span><p-dropdown [options]="ModelYear" [(ngModel)]="selectedModelYear" optionLabel="value" placeholder="--Select--"></p-dropdown>
<span>Dealer Region:</span><p-dropdown [options]="Dealer" [(ngModel)]="selectedDealer" optionLabel="value" placeholder="--Select--"></p-dropdown>
<span>Vehicle Type:</span><p-dropdown [options]="VehicleType" [(ngModel)]="selectedVehicleType" optionLabel="value" placeholder="--Select--"></p-dropdown>
<button class="btn btn-secondary mx-3"(click)="showReport()">Show Report</button>
<div>

  <div class="mt-5" *ngIf="showTable">
    <p-table [value]="cars">
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th>Year</th>
              <th>Brand</th>
              <th>Color</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
          <tr>
              <td>{{car.name}}</td>
              <td>{{car.year}}</td>
              <td>{{car.brand}}</td>
              <td>{{car.color}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>

  <app-child 
  [SampleData1]="TransferData1"
  [SampleData2]="TransferData2"></app-child>


  <div>
    <label for="from">Start</label>
    <input id="from"name="from" type="date">
    <label for="To">To</label>
    <input id="To"name="To" type="date">
  </div>

  <div>
  <p ngClass="{'color'= ngclass =='completed'? 'Yellow': 'Red'}">{{ngclass}}</p>
  
  </div> -->

  <!-- ========================================TDF and FormGroup/validation============================================== -->
<!-- 
  <form (ngSubmit)="onSubmit(myForm)" #myForm ="ngForm">
   <div ngModelGroup="nameAndEmails" #nameAndEmail="ngModelGroup">
    <label for="name">Name</label>
    <input type="text" id="name" name="Name" ngModel>
    <br>

     <label for="email">Email</label>
     <input type="email" id="email" name="email" ngModel>
     <br>
     <div *ngIf="nameAndEmail.invalid">
      <small >Every field must be fill</small>
     </div>
   </div>

     <label for="place">Place</label>
     <span *ngFor="let place of places">
      <input type="radio" name="place" id="Chn" value="{{place.value}}" ngModel>
     <label for="Chn">{{place.value}}</label>
     </span>

     ========we get it through ngFor instead below=========
     <input type="radio" name="place" id="Mum" value="Mumbai" ngModel>
     <label for="Mum">Mumbai</label>
     <input type="radio" name="place" id="Ban" value="Bangalore" ngModel>
     <label for="Ban">Bangalore</label>
     <br> 
     <button (click)="setpatchvalue()">SetValue</button>

     <button type="submit">Submit</button>
  </form> -->


  <!-- =============================Reactive Form (RF) and Formgroup/validator================== -->

  
  <!-- <form [formGroup]="reactiveForm" (ngSubmit)="Onsubmit()">
   <div ngModelGroup="nameAndEmails" #nameAndEmail="ngModelGroup"> 
     <div formGroupName="nameAndEmail">
      <label for="name">Name</label>
     <input type="text" id="name" name="Name" formControlName="name">
     <br>
 
      <label for="email">Email</label>
      <input type="email" id="email" name="email" formControlName="email">
      <br>
     </div>
       
     <div *ngIf="reactiveForm.get('nameAndEmail.email.invalid')">
       <small >Every field must be fill</small>
      </div>

    
 
      <label for="place">Place</label>
      <span *ngFor="let place of places">
       <input type="radio" name="place" id="Chn" value="{{place.value}}" formControlName="place">
      <label for="Chn">{{place.value}}</label>
      </span>
       <input type="radio" name="place" id="Mum" value="Mumbai" ngModel>
      <label for="Mum">Mumbai</label>
      <input type="radio" name="place" id="Ban" value="Bangalore" ngModel>
      <label for="Ban">Bangalore</label>
      <br> -->
      <!-- <button (click)="setpatchvalue()">SetValue</button> -->

      <!-- ========================Form Array===================== -->
       <!--<div formArrayName="skills">
      <ng-container *ngFor="let skill of reactiveForm.get('skills')['controls']; index as i">
        GETTING ERROR DUR TO TYPESCRIPT HAVE TO CHECK 
        <input type="text" placeholder="Add skills" formControlName="{{i}}">
    </ng-container>
    <button (click)="addSkills">+ Add Skills</button>
  </div>-->
      <!-- <button type="submit">Submit</button>
   </form>
  -->
   
  <div style=" margin: auto; width: 50%;">
    <button (click)="exportexcel()">Export to Excel</button>
   
    <table id="excel-table">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
      <tr *ngFor="let item of userList">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
      </tr>
    </table>
  </div>
  
  
 